<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
  integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<!DOCTYPE html>



<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

<title>Compass Starter by Ariona, Rian</title>

<!-- Loading third party fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">



<div class="body"style="width: 100%;">
<div class="container" style="width:100%;">
  <div class="row" style="height:100px;">
    <div class="header">
      <img src="assets/images/logo.png" alt="" class="logo">
      <div class="logo-type">
        <h1 class="site-title"style="color:white;">Weather App</h1>

      </div>
    </div>
  </div>




  <div class="row">
    <div class="hero" data-bg-image="assets/images/banner.png">

      <form name="form" (ngSubmit)="f.form.valid && getAllIsps()" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="title">Enter City Name</label>
          <input type="search" placeholder="Enter location" class="form-control" name="title" [(ngModel)]="title"
            #title1="ngModel" [ngClass]="{ 'is-invalid': f.submitted && title1.invalid }" required />
          <div *ngIf="f.submitted && title1.invalid" class="invalid-feedback">
            <div *ngIf="title1.errors.required">name is required</div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Search</button>

        </div>
      </form>


    </div>
  </div>
  <div class="row">
    <div class="todayData" *ngIf="responseArray">

      <div class="forecast-header">
        <h4 class="date">{{cityDate}}</h4>
      </div> <!-- .forecast-header -->
      <div class="forecast-content">
        <h3 class="location">{{cityName}}</h3>
        <h3 class="location"><strong>tempMax:</strong>{{tempMax}} </h3>
        <h3 class="location"><strong>tempMin: </strong>{{tempMin}}</h3>
        <h3 class="location"> <strong>The weather description:</strong> {{weatherDesc}}</h3>
        <h3 class="location"> <strong>humidity :</strong>{{humidity}}</h3>
        <div class="degree">
          <div class="num">{{temperature}}<sup>o</sup>C</div>

        </div>
        <h3 class="location"> <strong>Wind Speed :</strong>{{windSpeed}} km/h</h3>
        
      </div>

    </div>
  </div>

  <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

      <a class="navbar-brand  text-light">Weather Earth</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>

      </button>

      <div class="collapse navbar-collapse  justify-content-end" id="navbarSupportedContent">

        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"></a>
          </li>
        </ul>
      </div>
    </nav> -->

  <div class="row" *ngIf="responseArray">
    <div class="new">
      <div class="col-6" style="padding:0px">
        <ul *ngFor="let date of datesAll" style="padding:5px;">
          <li style="display:block">{{date}}</li>
        </ul>
      </div>
      <div class="col-6" style="padding:0px">
        <ul *ngFor="let data of dataCombined" style="padding:5px;">
          <li style="display:block">Temperature:{{data}}C</li>
        </ul>
      </div>
    </div>

  </div>


  <div class="row" style="width:93%;margin-left: 10px;">
    <div *ngIf="chart"style="width:93%;padding-top:20px;padding-left:30px;box-sizing: border-box">
      <canvas id="canvas">{{ chart }}</canvas>
    </div>
  </div>
</div>

</div>


<router-outlet></router-outlet>